.app {
  max-width: 80%;
  margin: auto;
  padding-top: 25px;
  min-height: 70vh;
}

.main {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 30px;
}

.block1 {
  padding-right: 30px;
  border-right: 1px solid gray;
  min-width: 200px;
  max-width: 300px;
}

.block2AndButtons {
  padding-left: 30px;
  flex-grow: 3;
}
.block2 {
  min-height: 300px;
  display: flex;
  flex-direction: column;
}

.arrows {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  color: grey;
}

.arrows svg:hover {
  cursor: pointer;
  opacity: 0.5;
}

.productName {
  margin-top: 45px;
  text-decoration: none;
  color: black;
}

.productName:hover {
  cursor: pointer;
}

.buttons {
  margin-top: 180px;
}

.button {
  height: 30px;
  margin-right: 50px;
  min-width: 120px;
  border: none;
  border-radius: 5px;
}

.buttonsResult {
  margin-top: 50px;
  padding: 50px 0;
  text-align: center;
  border-top: 1px, solid, grey;
}

.buttonResult {
  height: 30px;
  margin-right: 50px;
  min-width: 150px;
  border: 1px solid #b5e0c3;
  border-radius: 5px;
  background-color: white;
}

.buttonResult:hover {
  cursor: pointer;
  font-weight: 600;
  background-color: #b5e0c3;
}

.myDropdown:hover {
  cursor: pointer;
}

.button:hover {
  cursor: pointer;
  font-weight: 600;
  background-color: #b5e0c3;
}

.selectedItem {
  font-weight: 700;
  font-size: larger;
}
