.proseptItem {
  display: flex;
  justify-content: space-between;
  padding: 7px 10px;
  border-radius: 10px;
  transition: border 0.2s ease-in-out;
  cursor: pointer;
  border: 1px solid transparent;
  font-size: 16px;
  gap: 15px;
}

.proseptItem span:first-of-type {
  word-wrap: break-word;
  display: block;
  max-width: 30%;
}

.proseptItem span:nth-of-type(2) {
  display: block;
  max-width: 70%;  
  overflow-wrap: break-word;
}

li input[type='radio']:checked + .proseptItem {
  background-color: #b5e0c3;
}

.proseptItem:hover {
  border: 1px solid #b5e0c3;
}

.radio:checked {
  border: 2px solid #b5e0c3;
}

.radio {
  display: none;
}
